<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="header.css">
<style>
  .log :hover{
    background-color: white;
    color: #229f3fd6;
  }
</style>   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="padding: 0.20rem 3rem; background-color: #229f3fd6">
        <a class="navbar-brand" href="#" style="font-size: 2.25rem"><img src="21404.jpg" width="40px" height="40px" style="border-radius: 50%; margin-bottom: 6px;"> Hackocracy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto" style="padding-left: 45px; margin-top: 3px;">
            <li class="nav-item active">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="font-size: 1.2rem;">Pricing</a>
            </li>
          </ul>
          <span class="navbar-text" style="font-size: 1.2rem; display: flex; ">
            <a class="log" href="login.html" style="text-decoration: none; border-radius: 22px; border: 2px solid white;  margin-right: 15px; color: white; background-color: transparent; padding: 3px 8px;">Log In</a>
            <a class="sign" href="signup.html" style="text-decoration: none; border-radius: 22px; border: 2px solid white; margin-right: 15px; color: white; background-color: transparent; padding: 3px 8px;">Sign Up</a>
          </span>
        </div>
      </nav>
</body>
</html>