<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Atl Hai | Log In</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="model">
    <form action="" method="POST" class="login-window">
        <section class="container">
            <h1>Log In</h1>
            
            <hr>
            
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required style="width: 450px; border: 1px solid rgba(81, 203, 238, 1); box-shadow: 0 0 5px rgba(81, 203, 238, 1);">
            <br>

            <label for="psd">Password</label>
            <input type="password" id="psd" name="password" placeholder="Password" required style="width: 450px; border: 1px solid rgba(81, 203, 238, 1); box-shadow: 0 0 5px rgba(81, 203, 238, 1);">

            <p><label>
                <input type="checkbox" name="remember_me" style="height: auto;"> Remember me
            </label></p>

            <button class="login" type="submit">Log In</button>

            <p><a href="forgot.hmtl" style="color: rgb(55, 127, 235); text-align: right;">Forgot Password?</a></p>
        </section>
    </form>
    </div>
</body>
</html>